<div>
  <h2>Today's Matchups</h2>
  <div>
    <mat-card *ngFor="let matchup of matchups$ | async" class="mb3 pointer grow" (click)="viewMatchup(matchup.gameId)">
      <div class="flex flex-wrap">
        <div class="flex w-40 team">
          <img class="mr3 mw3" [src]="apiUrl + '/public/assets/images/' + matchup.awayTeam.abbreviation + '_logo.svg'">
          <div class="mat-h3 pt3">{{matchup.awayTeam.teamName}}</div>
        </div>
        <div class="flex w-10 mat-h4 pt3 self-center">vs</div>
        <div class="flex w-40 team">
          <img class="mr3 mw3" [src]="apiUrl + '/public/assets/images/' + matchup.homeTeam.abbreviation + '_logo.svg'">
          <div class="mat-h3 pt3">{{matchup.homeTeam.teamName}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
