<div class="f4 fw5 mv2">Opponent Comparison</div>
<div class="flex justify-between bt bb">
  <span class="w-60 b">Winning Percentage</span>
  <span class="b dark-green">{{statGaps.winningPercentage}}</span>
</div>
<div class="flex justify-between bb">
  <span class="w-60 b">Offensive Efficiency</span>
  <span>
    <span class="dark-gray mr2">({{statGaps.offensiveRank}})</span>
    <span class="b dark-green">{{statGaps.offensiveEfficiency}}</span>
  </span>
</div>
<div class="flex justify-between bb">
  <span class="w-60 b">Defensive Efficiency</span>
  <span>
    <span class="dark-gray mr2">({{statGaps.defensiveRank}})</span>
    <span class="b dark-green">{{statGaps.defensiveEfficiency}}</span>
  </span>
</div>
